.reference-container {
    padding: 40px;
  }
  
  .reference-container h1 {
    font-size: 26px;
    color: #004080;
  }
  
  .reference-container ul {
    list-style-type: none;
    padding: 0;
  }
  
  .reference-container li {
    font-size: 16px;
    color: #333;
    margin-bottom: 10px;
  }
  
  .reference-container a {
    color: #004080;
    text-decoration: underline;
    transition: 0.3s;
  }
  
  .reference-container a:hover {
    color: #ffcc00;
  }
  