.resultados-container {
    padding: 40px;
  }
  
  .resultados-container h1 {
    font-size: 26px;
    color: #004080;
  }
  
  .resultados-container table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .resultados-container th, .resultados-container td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
  }
  
  .resultados-container th {
    background-color: #004080;
    color: white;
  }
  
  .resultados-container tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  